.welcome-image-background {
  background-image: url('../images/index-background.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main-newsletter {
  background-image: url('../images/subscribe-background.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.inner-filter {
  background-image: url('../images/filter-background.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}
