.welcome-image-background {
  background-image: url(/images/index-background.jpg);
  width: 1200px;
  height: 485px;
}
.main-newsletter {
  background-image: url(/images/subscribe-background.jpg);
  width: 1200px;
  height: 414px;
}
.inner-filter {
  background-image: url(/images/filter-background.jpg);
  width: 1200px;
  height: 412px;
}
